@import '../../assets/styles/Colors.module.scss';

.dashboard {
  padding: 1rem 0.5rem;
  color: $gray2;
  background-color: $dashboard-bg;
  z-index: 2;
  border-bottom: 1px solid $gray4;

  form {
    padding: 0.5rem;
    max-width: 400px;
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: row;
    }

    input {
      flex: 1;
      margin-right: 0.3rem;
      padding: 0.3rem;
      border: 2px solid $gray4;
      border-radius: 5px;
    }

    input:hover {
      border: 2px solid $primary-color;
    }

    button {
      padding: 0.3rem;
      width: 100px;
      background-color: $gray1;
      color: $white;
      border: 2px solid $primary-color;
      border-radius: 5px;
    }

    button:hover {
      background-color: $secondary-color;
    }
  }
}

.dashboard button:active {
  transform: translateY(3px);
}