@import '../../assets/styles/Colors.module.scss';

.homePage {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-bg;
    padding: 0.5rem;
    border-bottom: 1px solid $gray4;
    z-index: 3;

    img {
      width: 100px;
    }

    button {
      padding: 0.3rem 0.5rem;
      border: none;
      border: 1px solid $gray6;
      border-radius: 5px;
      background-color: transparent;
      color: $gray6;
    }

    button:hover {
      background-color: $gray3;
    }
  }
}