@import '../../assets/styles/Colors.module.scss';

.front, .back {
  font-size: 1rem;
  display: flex;
  min-height: 150px;
  box-shadow: 0 0 5px 0 $shadows;
  background-color: $gray6;
  padding: 0.5rem;
  margin: 1rem auto 2rem auto;
  border: 1px solid $gray3;
  border-radius: 5px;
  word-wrap: break-word;
}

.front {
  flex-direction: row;
  
  p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: $gray6;
    color: $gray4;
  }

  button:hover {
    color: $primary-color;
  }

  .close:hover {
    color: $red;
  }
}

.back {
  flex-direction: column;
  background-color: $gray2;
  box-shadow: 0 0 5px 2px $primary-color;

  textarea {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border: 1px solid $gray4;
    resize: none;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  button {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    border: none;
    background-color: $gray6;
    color: $gray1;
  }

  button:hover {
    background-color: $gray4;
  }
}

.done {
  .check {
    color: $primary-color;
  }
}

@media screen and (min-width: 600px) {
  .front, .back {
    min-width: 250px;
    max-width: 250px;
    margin: 0;
    justify-self: center;
  }
}