@import '../../assets/styles/Colors.module.scss';

.front, .back {
  font-size: 1rem;
  display: flex;
  min-height: 150px;
  max-width: 250px;
  box-shadow: 0 0 5px 0 $shadows;
  background-color: $gray6;
  padding: 0.5rem;
  margin: 1rem auto 2rem auto;
  border: 1px solid $gray3;
  border-radius: 5px;
  word-wrap: break-word;

  button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: $gray6;
    color: $gray5;
  }

  button:hover {
    color: $gray3;
  }

  .check:hover {
    color: $flash-card-done;
  }

  .close:hover {
    color: $red;
  }
}

.front {
  flex-direction: row;
  
  p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.back {
  flex-direction: column;
  background-color: $gray2;

  textarea {
    flex: 1;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border: 1px solid $gray4;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  button {
    background-color: $gray2;
    color: $gray3;
  }

  button:hover {
    color: $gray5;
  }
}

.done {

  .check {
    color: $flash-card-done;
  }
}

@media screen and (min-width: 600px) {
  .front, .back {
    min-width: 250px;
    margin: 0;
    justify-self: center;
  }
}