@import '../../assets/styles/Colors.module.scss';

.front, .back {
  font-size: 1rem;
  display: flex;
  min-height: 150px;
  box-shadow: 0 0 5px 0 $dark-gray;
  background-color: $white;
  padding: 0.5rem;
  margin: 1rem 0 2rem 0;
  border: 1px solid $light-gray;
  border-radius: 10px;
  word-wrap: break-word;

  button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
  }

  .close {
    color: red;
  }
}

.front {
  flex-direction: row;
  
  p {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.back {
  flex-direction: column;
  
  textarea {
    flex: 1;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border: 1px solid $light-gray;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.done {
  opacity: 0.5;
}