// Gray-Scale
$black: rgb(0, 0, 0);
$dark-gray: rgb(30, 30, 30);
$med-gray: rgb(60, 60, 60);
$gray: rgb(120, 120, 120);
$light-gray: rgb(180, 180, 180);
$light-light-gray: rgb(220, 220, 220);
$almost-white: rgb(240, 240, 240);
$white: rgb(255, 255, 255);

//Colors
$blue: rgb(0, 132, 215);
$dark-blue: rgb(0, 86, 140);

$red: rgb(175, 0, 0);
$dark-red: rgb(141, 0, 0);