// Gray-Scale
$black: rgb(0, 0, 0);
$dark-gray: rgb(30, 30, 30);
$med-gray: rgb(60, 60, 60);
$gray: rgb(120, 120, 120);
$light-gray: rgb(180, 180, 180);
$light-light-gray: rgb(220, 220, 220);
$almost-white: rgb(240, 240, 240);
$white: rgb(255, 255, 255);

//Colors
$dark-purple: rgb(39, 37, 64);
$light-purple: rgb(99, 92, 170);

$blue: rgb(0, 132, 215);