@import './Colors.module.scss';

.dashboard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background-color: $almost-white;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 1.2em;
    padding: 10px 0;
    border-top: 1px solid $light-gray;
  }

  label {
    font-size: 0.9em;
  }

  #categories {
    height: 150px;
    margin: 5px 10px;
    overflow-y: auto;

    .category {
      display: flex;
      border-bottom: 1px solid $light-gray;

      button:nth-of-type(1) {
        flex: 1;
        text-align: left;
        border: none;
        color: $light-gray;
        background-color: $almost-white;
        padding: 8px;
      }

      button:nth-of-type(2) {
        border: none;
        padding: 8px;
        color: $light-gray;
        background-color: $almost-white;
      }

      button:hover {
        color: $black;
      }
    }

    .current {
      button:nth-of-type(1) {
        color: $black;
      }

      button:nth-of-type(2) {
        color: $black;
      }
    }
  }
  
  #newCategory {
    margin-bottom: 5px;
    padding: 5px;
  }

  #addCategoryBtn {
    margin-bottom: 20px;
    background-color: $blue;
    box-shadow: 2px 2px 2px 0 black;
  }

  #addCategoryBtn:hover {
    background-color: $dark-blue;
  }
  
  #topic {
    margin-bottom: 10px;
    padding: 5px;
  }
}

.dashboard button {
  border: none;
  padding: 5px;
  color: $white;
}

.dashboard button:active {
  transform: translateY(3px);
}

#answerView {
  flex: 1;
  max-height: 600px;
  padding: 5px;
  margin-bottom: 10px;
  resize: none;
}

#topicBtns {
  display: flex;
  margin-bottom: 10px;
}

#saveTopicBtn {
  flex: 1;
  margin-right: 5px;
  background-color: $blue;
  box-shadow: 2px 2px 2px 0 black;
}

#saveTopicBtn:hover {
  background-color: $dark-blue;
}

#changeStatusBtn {
  flex: 1;
  background-color: $blue;
  box-shadow: 2px 2px 2px 0 black;
}

#changeStatusBtn:hover {
  background-color: $dark-blue;
}

#deleteTopicBtn {
  background-color: $red;
  box-shadow: 2px 2px 2px 0 black;
}

#deleteTopicBtn:hover {
  background-color: $dark-red;
}