@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

@import './Colors.module.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

#root {
  height: 100vh;
}



// Scrollbar Styles
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $gray2;
}

::-webkit-scrollbar-thumb {
  background: $gray4;
  border: 2px solid $gray2;
  -webkit-border-radius: 10px;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray3;
}