@import './Colors.module.scss';

.topic {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 200px;
  height: 150px;
  box-shadow: 20px 20px 0px 7px $dark-gray;
  background-color: $light-light-gray;
  margin: 20px;
  padding: 5px;
  border: none;
  border-radius: 0.5em;
}

.topic:hover, .currTopic {
  border: 3px solid $blue;
}

.topic:active {
  transform: translateY(10px);
}

.done {
  background-image: radial-gradient(rgb(163, 163, 163), rgb(20, 154, 53));
}