@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  font-family: 'Slackside One', cursive;
  text-align: center;
  padding-bottom: 20px;
  color: white;
  background-color: rgb(14, 14, 14);
}

.page {
  display: flex;
  flex: 1;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px;
  background-color: rgb(38, 38, 38);
}

.dashboard div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#newTopic {
  flex: 1;
  height: 26px;
  padding: 0 5px;
  background-color: rgb(200, 200, 200);
}

#addTopicBtn {
  height: 30px;
  width: 30px;
}

#saveAnswerBtn, #changeStatusBtn {
  width: 45%;
  height: 30px;
}

.dashboard button {
  background-color: rgb(67, 122, 176);
}

.dashboard button:hover {
  background-color: rgb(45, 84, 122);
}

#answerView {
  flex: 1;
  background-color: rgb(200, 200, 200);
  padding: 20px;
  border: 1px solid black;
  margin: 20px 0;
  resize: none;
}

.board {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 20px;
  background-color: rgb(54, 54, 54);
}

.topic {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  min-width: 200px;
  height: 150px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  background-image: radial-gradient(rgb(163, 163, 163) ,rgb(95, 95, 95));
  margin: 20px;
  border-radius: 1em;
}

.topic:hover {
  border: 2px solid white;
}

.done {
  background-image: radial-gradient(rgb(163, 163, 163), rgb(20, 154, 53));
}

.selected {
  border: 2px solid white;
}