@import url('https://fonts.googleapis.com/css2?family=Slackside+One&display=swap');

@import './assets/styles/Colors.module.scss';


@import './assets/styles/Dashboard.module.scss';
@import './assets/styles/TopicCard.module.scss';
@import './assets/styles/Board.module.scss';


* {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

#root {
  height: 100vh;
}

.page {
  display: flex;
  height: 100%;
}






// Scrollbar Styles

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $light-light-gray;
}

::-webkit-scrollbar-thumb {
  background: $blue;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-blue;
}