@import '../../assets/styles/Colors.module.scss';

.loginPage {
  height: 100%;
  display: flex;
  flex-direction: column;

  .loginForm {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }

    input {
      margin-bottom: 1rem;
      padding: 5px;
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
      color: red;
    }

    .loginBtn {
      padding: 5px;
      margin-bottom: 2rem;
    }

    a {
      text-align: center;
    }
  }
}

@media screen and (min-width: 426px) {
  .loginPage {
    align-items: center;
    justify-content: center;

    .loginForm {
      width: 300px;
      border: 1px solid black;
    }
  }
}